<div class='banner' style="background-image: url('images/background.jpg')";>
  <div class = 'container'>
    <h1>All Restaurants<h1>
    <p>select a new restaurant</p>
    <div class='btn-green'>
      <%= link_to 'Create restaurant', new_restaurant_path(@restaurant)%>
    </div>
  </div>
</div>

<div class = 'container'>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <div class='card-category'>
        <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
      </div>
    <% end %>
  </ul>
</div>
